body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;

  .main {
    flex: 1;
  }


}

span {
  color: midnightblue;
}

@media (min-width: 721px) {
  h1 {
    font-size: 5rem;
  }
  .tile-image {
    margin-right: 50px;
    float: left;
    width: 300px;
    height: 200px;
  }

  .left {
    width: 45%;
  }

  .right {
    width: 45%;
    float: right;
  }

  .card {
    display: inline-block;
  }

  footer {
    clear: right;
    text-align: right;
    color: midnightblue;
  }
}

@media (max-width: 720px) {
  h1 {
    display: block;
    font-size: 3.5rem;
    text-align: center;
  }

  .tile-image {
    width: 100%;
  }

  .left {
    display: block;
  }

  .right {
    display: block;
  }

  .card {
    display: block;
  }
}
